<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
     <renameParticipant
        class="lehirtieclipseplugin.renameparticipant.JavaElementRenameParticipant"
        id="lehirtieclipseplugin.renameParticipant1"
        name="name">
       <enablement>
         <with
              variable="element">
           <or>
              <instanceof
                    value="org.eclipse.jdt.core.ICompilationUnit">
              </instanceof>
              <instanceof
                    value="org.eclipse.jdt.core.IType">
              </instanceof>
              <instanceof
                    value="org.eclipse.jdt.core.IMethod">
              </instanceof>
              <instanceof
                    value="org.eclipse.jdt.core.IField">
              </instanceof></or>
         </with>
       </enablement>
     </renameParticipant>
   </extension>
</plugin>
